:root{
    --primary-color:#8DC6FF ;
    --secondary-color: #e4f1fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0,.3);
    --head-font-family:'Playfair Display', serif;
    --default-font-family:'Merriweather', serif;
}
h1 {
    margin-top: 50px;
    font-family: var(--head-font-family);
    font-weight: 800;

}

h2{
    font-family: var(--default-font-family);
    font-weight: 200;
}

p{
    font-family: var(--default-font-family);
}
span{
    color: #8dc6ff;
}

img{
    background-color: var(--secondary-color);
}

h4 {
    font-size: 48px;
    font-family: var(--default-font-family);
}

footer{
    margin: 60px 0;
}
.hero-paragraph {
    font-size: 15px;
    font-family: var(--default-font-family);
    font-weight: 200;
    opacity: 0.6;

}
.logo{
    width: 50px;
}
.head{
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding-bottom: 100px;
}

.avatar-image{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 500px;
}

.portfolio-image{
    display: block;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 500px;
}

.header{
    margin-top: 30px;
    font-weight: 900;
    font-family: var(--head-font-family);
    font-size: 64px;
    line-height: 80px;
}

.content-container{
    padding: 60px 20px;
}

.content-container h2{
    font-size: 18px;
    font-family: var(--default-font-family);
    font-weight: 600;
    
}

.content-container p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    font-family: var(--default-font-family);
}

.main-description{
    padding-top: 150px;
    margin-left: auto;
    
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
    
}

.image{
    background-color: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 15px;
}

.kali-image {
    display: block;
    margin: 0 auto;
    width: 350px;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
}


.description{
    line-height: 1.9;
    font-family: var(--default-font-family);
}

.weather-image{
    padding-top: 35px;
    margin: 0 auto;
    width: 500px;
    display: block;
    background-color: var(--secondary-color);
}

.feature-paragraph{
    font-family: var(--default-font-family);
    font-family: 28px;

}
.navbar{
    padding-left: 3rem;

}
.weather{
    padding-bottom: 83px;
}


footer .contact-box{
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

@media(max-width: 576px){
    .project-link{
        display: block;
        text-align: center;
        margin: 0 20px;
        
    }

    .head{
        padding: 0px 0px;
    }

    .header{
        text-align: center;
    }

    .portfolio-image{
        margin-top: 0px;
    }

    .content-container h2, p{
        text-align: center;
    }

    .navbar{
        padding-left: 0px;
    }

    footer .email-link{
        margin-top: 10px;
    }

    footer .social-links a {
        padding: 10px 14px;
    }

}

@media(max-width: 768px){
    .col-md-6{
        flex: 0 0 auto;
    }
}